.NavBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.NavMenu {
    min-width: 100px;
}

.Logo {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;

    font-size: 32px;
    font-family: 'Lora', serif;
    cursor: pointer;

}
.Logo img {
    height: 60px;
}

.UserBadge {
    min-width: 100px;
}



