
@mixin SimpleForm {
  .Errors {
    margin-bottom: 40px;
    padding: 10px 20px;

    border: red solid 1px;
    background-color: lightpink;
    border-radius: 5px;

    ul {
      all: unset;
    }
    li {
      list-style-type: none;
    }
  }

  .Field {
    display: flex;
    align-items: center;

    span {
      display: block;
      margin: 5px 10px;
    }
    span:nth-child(1) {
      width: 140px;
    }
    span:nth-child(2) {
      width: 200px;
    }
    input {
      width: 100%;
    }
  }
  .Submit {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

    button {
      width: 100px;
    }
  }
}
